.registration-container {
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .registration-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; /* Dark text color */
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .registration-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Blue button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .registration-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .registration-message {
    text-align: center;
    color: green;
    margin-top: 10px;
  }
  